@import "../index.css";

.selectBox {
  position: relative;
  width: 420px;
  margin-right: 5px;
}

.dropDownHeader {
  /* select */
  background: #ffffff;
  color: rgb(49 54 63 / 50%);
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;
  padding: 0 8px;
  height: 40px;
  position: relative;
  margin-bottom: 5px;
}

.dropDownList {
  /* options */
  position: absolute;
  background: var(--colorBlanco);
  color: var(--colorSec);
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  max-height: 230px;
  padding: 0 10px;
  margin: 0;
  border: 1px solid #f3f1ed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 5px 5px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 100;
}

.title {
  color: #000;
  font-weight: 700;
  font-size: 14px;
}

.initialDescription {
  font-size: 14px;
  font-weight: 500;
  color: var(--colorGris);
  text-align: start;
}

.description {
  font-size: 14px;
  font-weight: 700;
  color: var(--colorSec);
  text-align: start;
}

.costumSelectContent,
.optionContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;
}

.optionContent {
  border-bottom: 1px solid var(--colorPpal);
  padding: 11px 0;
  cursor: pointer;
}

.optionContent:last-child {
  border-bottom: 1px solid transparent;
}

.dropDownList .optionContent:hover {
  /* background: rgb(240 87 45 / 20%); */
  background-color: #ececec;
}

/* tablets*/
@media screen and (min-width: 480px) and (max-width: 770px) {
  .selectBox {
    width: 254px;
  }
}

/* mobile*/
@media screen and (max-width: 480px) {
  .selectBox {
    width: 100%;
    margin-right: 0;
  }
}
